<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>s</title>  
</head>
<body>
<center><a href="add_books" class="btn btn-primary">Add New Record</a></center>

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>ID</th>  
        <th>BOOK Name</th>  
        <th>BOOK Email</th>  
        <th>BOOK Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for BOOK in form %}
    <tr>  
        <td>{{ BOOK.id }}</td>
        <td>{{ BOOK.user }}</td>
        <td>{{ BOOK.name }}</td>
        <td>{{ BOOK.launch }}</td>
        <td>{{ BOOK.price }}</td>
        <td>
            <a href="/edit/{{ BOOK.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/destroy/{{ BOOK.id }}">Delete</a>
        </td>
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="add_books" class="btn btn-primary">Add New Record</a></center>
</body>  
</html>  