<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>s</title>
</head>


<body>
<center><a href="user/login" class="btn btn-primary">login</a></center>
<center><a href="user/signup" class="btn btn-primary">signup</a>



<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>BOOK Name</th>
        <th>BOOK Email</th>
        <th>BOOK Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for BOOK in form %}
    <tr>
        <td>{{ BOOK.id }}</td>
        <td>{{ BOOK.user }}</td>
        <td>{{ BOOK.name }}</td>
        <td>{{ BOOK.launch }}</td>
        <td>{{ BOOK.price }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
</body>
</html>