<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form  method="POST">
                  {% csrf_token %}
                    {{form}}
                <button type="submit" value="login">Login</button>


            </div>
        </form>
</body>
</html>