<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <label for="id_username">Username:</label><br>
        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username"><br>
    <label for="id_password1">Password:</label><br>
        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"><br>
    <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password2"><br>

    <input type="submit" value="submit">
</form>
</body>
</html>